# digiLab Projects .gitignore

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.pyc
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
base/
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# MacOS files
.DS_Store

# Logs
__pycache__/
lightning_logs/
ray_logs/

# Poetry
poetry.lock

# Private keys
.env

# Put large data in data/local/ to excluded from repo
data/local/*
outputs/
!data/local/.gitkeep

# Model weights
*.pt
*.pth

# Point clouds and meshes
*.ply
*.pcd

# Ignore detectron2 repositpry folder
detectron2/
